/*************************************************************
**  Description:  User-home component css styles
*************************************************************/

#search-container {
    margin-bottom: 25px;
}

#search-form {
    border: 1px solid #808080;
    border-radius: 2px;
    position: relative;
    display: inline-block;
}

#search-form input, #search-form button, #clear-search {
    border: 0;
    vertical-align: middle;
    padding: 3px;
}

#search-form button, #clear-search {
    right: 0;
    left: 0;
    background-color: #2d7a99;
    color: #fff;
    width: 50px;
    height: 36px !important;
}

#search-form button:hover, #clear-search:hover, .update-btn:hover {
    background-color: #226078;
} 

#clear-search {
    margin-left: 16px;
    width: 70px;
    padding: 9px;
    border-radius: 2px;
}

#search-form input {
    width: 420px;
    padding: 5px;
}

.update-btn {
    background-color: #2d7a99;
    border: none;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.mdl-data-table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
 }

 td {
     max-width: 200px;
 }