{{!  Description:  This view is the component that renders the edit bug page           }}
{{!                where the user is sent when they select edit on a bug in the list   }}

<title>Bug Dashboard</title>
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link type="image/x-icon" rel="shortcut icon" href="favicon-1.ico"/>
  <link type="text/css" rel="stylesheet" href="user-home.css">
        
        
<!-- Container for the dashboard -->
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" id="main-box">
    <div id="dashboard-top-bar" class="mdl-card__title mdl-color-text--white">
        <h2 class="mdl-card__title-text">Update Bug</h2>
    </div>

    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <form id="recordForm">
            <div class="grid-container">
                <div><label class="textarea-label" for="bug-summary">Bug Summary</label></div>
                <div><textarea name="bug-summary" id="bug-summary-field"></textarea></div>
                <div><label class="textarea-label" for="bug-description">Bug Description</label></div>
                <div><textarea name="bug-description" id="bug-description-field"></textarea></div>
                <div><label for="bug-project">Project</label></div>
                <div>
                <select name="bug-project" id="bug-project-field">
                    <option value="" disabled selected>Select a project</option>
                    <option value="0">NULL</option>
                    <option value="1">project 1</option>
                    <option value="2">project 2</option>
                    <option value="3">project 3</option>
                </select>          
                </div>
                <div><label for="bug-programmer">Programmers</label></div>
                <div class="checkbox-container">
                <input class="checkbox-input" type="checkbox" id="programmer1" name="programmer1" value="1">
                <label for="programmer1">Programmer 1</label><br>
                <input class="checkbox-input" type="checkbox" id="programmer2" name="programmer2" value="2">
                <label for="programmer2">Programmer 2</label><br>
                <input class="checkbox-input" type="checkbox" id="programmer3" name="programmer3" value="3">
                <label for="programmer3">Programmer 3</label><br>
                <input class="checkbox-input" type="checkbox" id="programmer3" name="programmer3" value="3">
                <label for="programmer3">Programmer 4</label><br>  
                </div>
                <div><label for="bug-start-date">Date Started</label></div>
                <div><input type="date" name="bug-start-date" id="bug-start-date-field"></div>
                <div><label for="bug-priority">Priority</label></div>
                <div><input type="number" name="bug-priority" id="bug-priority-field"></div>
                <div><label for="bug-fixed">Fixed</label></div>
                <div>
                <input class="radio-input" type="radio" name="bug-fixed" value="1" id="bug-fixed-yes">
                <label class="radio-label" for="bug-fixed">Yes</label>
                <input class="radio-input" type="radio" name="bug-fixed" value="0" id="bug-fixed-no">
                <label class="radio-label" for="bug-fixed">No</label>
                </div>
                <div><label class="textarea-label" for="bug-resolution">Resolution</label></div>
                <div><textarea name="bug-resolution" id="bug-resolution-field"></textarea></div>
                <div>
                <input 
                    type="submit" 
                    id="save" 
                    value="Update" 
                    onclick="insertUser(document.getElementById('company-id-field').value,
                                        document.getElementById('project-date-started-field').value,
                                        document.getElementById('project-date-updated-field').value,
                                        document.getElementsByName('maintenance'))">
                </div>
            </div>
        </form>
    </div>
</div>