{{!  Description:  This view is the component that renders the homepage. This is the  }}
{{!                component where the bug list will be displayed.                    }}

<title>Bug Dashboard</title>
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link type="image/x-icon" rel="shortcut icon" href="favicon-1.ico"/>
  <link type="text/css" rel="stylesheet" href="user-home.css">  
      
<!-- Container for the dashboard -->
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" id="main-box">
  <div id="dashboard-top-bar" class="mdl-card__title mdl-color-text--white">
    <h2 class="mdl-card__title-text">Add Bug</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--grey-600">  
    <form id="recordForm">
      <fieldset>
        
        <legend>Bug Details</legend>
        
        <label class="textarea-label" for="bug-summary">Bug Summary</label>
        <textarea name="bug-summary" id="bug-summary-field"></textarea> <br>
        
        <label class="textarea-label" for="bug-description">Bug Description</label>
        <textarea name="bug-description" id="bug-description-field"></textarea> <br>

        <label for="bug-project">Project</label>
        <select name="bug-project" id="bug-project-field">
          <option value="" disabled selected>Select a project</option>
          <option value="1">project 1</option>
          <option value="2">project 2</option>
          <option value="3">project 3</option>
        </select>
        <br>

        <label for="bug-programmer">Programmer</label>
        <select name="bug-programmer" id="bug-programmer-field">
          <option value="" disabled selected>Select a Programmer</option>
          <option value="a">programmer 1</option>
          <option value="b">programmer 2</option>
          <option value="c">programmer 3</option>
        </select>
        <br>

        <label for="bug-start-date">Date Started</label>
        <input type="date" name="bug-start-date" id="bug-start-date-field"> <br>

        <label for="bug-priority">Priority</label>
        <input type="number" name="bug-priority" id="bug-priority-field"> <br>

        <label for="bug-fixed">Fixed</label>
        <input class="radio-input" type="radio" name="bug-fixed" value="1" id="bug-fixed-yes">
        <label class="radio-label" for="bug-fixed">Yes</label>
        <input class="radio-input" type="radio" name="bug-fixed" value="0" id="bug-fixed-no">
        <label class="radio-label" for="bug-fixed">No</label>
        <br>

        <label class="textarea-label" for="bug-resolution">Resolution</label>
        <textarea name="bug-resolution" id="bug-resolution-field"></textarea> <br>

        <input 
            type="submit" 
            id="save" 
            value="Add" 
            onclick="insertUser(document.getElementById('company-id-field').value,
                                document.getElementById('project-date-started-field').value,
                                document.getElementById('project-date-updated-field').value,
                                document.getElementsByName('maintenance'))">
      </fieldset>
    </form>
  </div>
</div>
<br>

<!-- Container for Bugs Table -->
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" id="main-box">
    <div id="dashboard-top-bar" class="mdl-card__title mdl-color-text--white">
        <h2 class="mdl-card__title-text">Current Bugs</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      <div id="search-container">
        <form id="search-form">
          <input type="text" placeholder="Search bug..." name="search"><button type="submit"><i class="material-icons">search</i></button>
        </form>
        <button id="clear-search">View All</button>
      </div>
      
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Bug Summary</th>
                    <th class="mdl-data-table__cell--non-numeric">Bug Description</th>
                    <th class="mdl-data-table__cell--non-numeric">Project</th>
                    <th class="mdl-data-table__cell--non-numeric">Programmer</th>
                    <th class="mdl-data-table__cell--non-numeric">Date Started</th>
                    <th class="mdl-data-table__cell--non-numeric">Priority</th>
                    <th class="mdl-data-table__cell--non-numeric">Fixed</th>
                    <th class="mdl-data-table__cell--non-numeric">Resolution</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum dolor sit amet.</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, facilis.</td>
                    <td class="mdl-data-table__cell--non-numeric">project 3</td>
                    <td class="mdl-data-table__cell--non-numeric">programmer 1</td>
                    <td>1/2/34</td>
                    <td>5</td>
                    <td>Yes</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</td>
                    <td><a class="update-btn" href="/edit-bug">Update</a></td>
                    <td><button class="update-btn">Delete</button></td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi.</td>
                    <td class="mdl-data-table__cell--non-numeric">asdf</td>
                    <td class="mdl-data-table__cell--non-numeric">project 1</td>
                    <td class="mdl-data-table__cell--non-numeric">programmer 2</td>
                    <td>1/2/34</td>
                    <td>5</td>
                    <td>No</td>
                    <td class="mdl-data-table__cell--non-numeric">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, exercitationem.</td>
                    <td><a class="update-btn" href="/edit-bug">Update</a></td>
                    <td><button class="update-btn">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>